html {
  font-family: 'Special Elite', cursive;
  background-image: url("gifu.jpg");
  background-size: cover;
  color: rgba(224, 226, 219, 1);
  text-shadow: 2px 2px 8px black;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  height: 100%;
}

body {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  background-color: transparent;
  width: 165vh;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  width: 20vh;
  height: 20vh;
  font-size: 20px;
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

a {
  color: rgba(224, 226, 219, 1);
}

ul:hover {
  color: white;
  animation: glow 3s infinite ease-out;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 80px;
  width: 50vh;
  height: 30vh;
}

footer {
  width: 40vh;
  height: 5vh;
  margin-left: 50px;
  background-color: transparent;
  display: flex;
  align-items: baseline;
}
